$color-secondary: #ededee;

html,
body {
    background-color: $color-secondary !important;
    font-family: 'Mulish', sans-serif !important;
}

.text-item {
    font-family: 'Itim', cursive !important;
}